<!DOCTYPE html>
<html>
<head>
    <link href="css/weather-icons.min.css" rel="stylesheet">
    <title></title>
</head>
<body>
<table>
    <tr>
        {% for wid in wids %}
            <td>
                <h1>
                    <i class="wi wi-owm-{{ wid }}"></i>
                </h1>
            </td>
        {% endfor %}
    </tr>
    <tr>
        {% for t in times %}
            <td>
                <i class="wi wi-time-{{ t }}"></i>
            </td>
        {% endfor %}
    </tr>
    <tr>
        {% for desc in descs %}
            <td>
                {{ desc }}
            </td>
        {% endfor %}
    </tr>
</table>
</body>
</html>